<div>
    <h2 translate="mudskipperApp.genaccount.home.title">Genaccounts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="genaccount.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="mudskipperApp.genaccount.home.createLabel">Create a new Genaccount</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Genaccount</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="mudskipperApp.genaccount.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="acctno"><span translate="mudskipperApp.genaccount.acctno">Acctno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="genaccount in genaccounts track by genaccount.id">
                    <td><a ui-sref="genaccount.detail({id:genaccount.id})">{{genaccount.id}}</a></td>
                    <td>{{genaccount.name}}</td>
                    <td>{{genaccount.acctno}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="genaccount.detail({id:genaccount.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="genaccount.edit({id:genaccount.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="genaccount.delete({id:genaccount.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
